body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
}

.global-wrapper {
    flex-shrink: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
    padding: 0 200px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 24px;
    font-size: 18px;
}

/*First container*/

.container-top {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    height: 480px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    gap: 10px;
    height: 250px;

}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex: 1 1 auto;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    flex: 1 1 auto;
}

.sign-up {
    color: #e5e7eb;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 36px;
    border-radius: 10px;
    border: 0;
    flex: 0 1 auto;
}

.main {
    background-color: grey;
    height: 250px;
    width: 550px;
    flex-shrink: 0;
}

/*Middle container*/

.container-mid {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0 300px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    padding-top: 60px;
}

.info {
    width: 160px;
}

.images {
    flex: 1 1 auto;
    display: flex;
    gap: 60px;
}

.undertext {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.thumbnail {
    width: 160px;
    height: 160px;
    border: 4px;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882f6;
}

/*Quote container*/

.container-quote {
    background-color: #e5e7eb;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 300px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: 1f2937;
    text-align: left;
    padding-left: 25px;
}

.author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

/*Bottom container*/

.container-bot {
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 180px;
}

.box {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.title-bot {
    font-size: 24px;
    font-weight: bold;

}

.box-sign-up {
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: 2px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 30px;
}

/*Footer*/

.footer {
    background-color: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-shrink: 0;
}